body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#redorblack {
  background-color: lightgray;
  max-width: 100%;
}

#choices, #replay {
  display: none;
}

button {
  font-size: 2em;
  padding: 0.2em;
  margin: 0.2em;
}
